<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>DreamCS</title>
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <h3>Accepted Cases of Top 5 Universities in your Favourite Area on Our Website</h3>
        <div id="data-1-container">
            <% if (data_1 && data_1.length > 0) { %>
                <% data_1.forEach(function(item) { %>
                    <div class="data-1-item">
                        <h4>University: <%= item.name %></h4>
                        <p>Accepted Cases: <%= item.accepted_cases %></p>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No data available.</p>
            <% } %>
        </div>
        <h3>Profiles of Users Who Applied to Your Dream School</h3>
        <div id="data-2-container">
            <% if (data_2 && data_2.length > 0) { %>
                <% data_2.forEach(function(item) { %>
                    <div class="data-2-item">
                        <p>GRE: <%= item.gre_v %>+<%= item.gre_q %>, GPA: <%= item.gpa %>, 
                            Decision: <%= item.decision %>, Date: <%= item.decision_date %> </p>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No data available.</p>
            <% } %>
        </div>
        <div class="container mt-4">
            <div class="card">
              <div class="card-body">
                <h2>Complete Your Profile to Unlock Customized Data</h2>
                <form action="/create/profile/" method="POST">
                    <div class="form-group">
                        <div class="label">GPA</div> <input type="number" step="0.01" name="gpa" class="input"/><br>
                    </div>
                    <div class="form-group">
                        <div class="label">GRE Verbal</div> <input type="number" name="gre_v" class="input"/><br>
                    </div>
                    <div class="form-group">
                        <div class="label">GRE Quantitative</div> <input type="number" name="gre_q" class="input"/><br>
                    </div>
                    <div class="form-group">
                        <div class="label">GRE Writing</div> <input type="number" name="gre_awa" class="input"/><br>
                    </div>
                    <div class="form-group">
                        <label for="netid">Status</label>
                        <select class="form-control col-lg-9" id="netid" name="status">
                        <option value="inter_wo_us" selected>International without US degree</option>
                        <option value="inter_w_us">International with US degree</option>
                        <option value="american">American</option>
                        <option value="unknown">Others</option>
                        </select>
                    </div>
        
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <div class="btn btn-primary"><a href="/">Skip</a></div>
                </form>
              </div>
            </div>
        </div>
    </body>
</html>
